    .scorecard-container {
      position: relative;
      max-width: 100%;
      padding: 10px;               
      background: var(--color-theme-bone-200);                             
      border-radius: 8px;             
      box-shadow: 
        0 2px 4px rgba(0,0,0,0.08),   
        0 6px 12px rgba(0,0,0,0.12);  
    }
    .category {
      display: flex;
      align-items: flex-start;
      margin: 60px 0;
      position: relative;
      z-index: 1;
    }
    .category-title {
      font-size: 1.3em;
      font-weight: bold;
      margin-left: 40px;
      margin-bottom: 2px;
    }
    .info-block {
      display: flex;
      flex-direction: column;
      width: 640px;
      margin-top:-9px;
    }
    .circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: gray;
      color: white;
      font-size: 2em;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: -30px;
      margin-left: 40px; 
      z-index: 2;
    }
    .bar-container {
      width: 100%;
      background: darkgray;
      height: 14px;
      border-radius: 6px;
      overflow: hidden;
      margin-bottom: 6px;
      position: relative;
      flex-shrink: 0;
    }
    .bar-container + div {
      margin-left: 40px; 
    }
    .bar {
      height: 100%;
      border-radius: 6px;
    }
    .gameplay .circle, .gameplay .bar {
      background-color: var(--color-theme-red-400);
    }
    .theme .circle, .theme .bar {
      background-color: var(--color-theme-blue-400);
    }
    .accessibility .circle, .accessibility .bar {
      background-color: var(--color-theme-green-400);
    }

    .engineering .circle, .engineering .bar {
      background-color: var(--color-theme-purple-400);
    }